.Tabs {
    background-color: #efefef;
    border-radius: 4px;
    display: flex;
    overflow: hidden;

    user-select: none;
    padding: 2px;
}

.Tabs--item {
    border-radius: 4px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;

    width: 100%;
    cursor: pointer;
    text-align: center;

    /* total height: 36px (9bt)
       text height: 14px
       padding: 2px * 2 = 4px
       vertical padding: (36 - 14 - 2 - 2) / 2 = 10px
    */
    padding-top: 10px;
    padding-bottom: 10px;
}

.Tabs--item__isSelected,
.Tabs--item__isSelected:hover {
    background-color: #fff;
}
