.Image {
    overflow: hidden; /* .overflow-hidden */
}

.Image__placeholder {
    max-width: 100%; /* .fit */
    position: relative; /* .relative */

}

.Image__placeholder-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex; /* .flex */
    align-items: center; /* .align-center */
    justify-content: center;
}

.Image__placeholder-text {
    text-align: center; /* .center */
    opacity: 0.5;
}

.Image__img {
    display: block; /* .block */
    max-width: 100%; /* .fit */
    height: auto;
}
