.Heading {
    font-family: "Helvetica Neue";
    -webkit-font-smoothing: antialiased;

    margin-top: 0; /* .mt0 */
    margin-bottom: 0; /* .mb0 */
}

.Heading--xs {
    /* .text-8 */
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
    word-spacing: -2px;
}

.Heading--s {
    /* .text-9 */
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -1.25px;
    word-spacing: -2.25px;
}

.Heading--m {
    /* .text-10 */
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.75px;
    word-spacing: -2.75px;
}

.Heading--l {
    /* .text-11 */
    font-size: 64px;
    line-height: 76px;
    letter-spacing: -2.25px;
    word-spacing: -3.25px;
}

.Heading--xl {
    /* .text-12 */
    font-size: 96px;
    line-height: 114px;
    letter-spacing: -3.25px;
    word-spacing: -4.25px;
}

.Heading--white {
    color: #fff; /* .white */
}

.Heading--lightgray {
    color: #b5b5b5;/* .gray */
}

.Heading--darkgray {
    color: #555; /* .black */
}

.Heading--blue {
    color: #0084ff; /* .blue */
}

.Heading--green {
    color: #88a5ab; /* .olive */
}
