:root {
  --styles: '../../styles.css';
}

.Image__placeholder {
  composes: fit relative from var(--styles);
}

.Image__placeholder--wrapper {
  composes: absolute flex items-center justify-center top-0 left-0 bottom-0 right-0 from var(--styles);
}

.Image__placeholder--text {
  composes: text-center from var(--styles);
  opacity: 0.5;
}

.Image__img {
  composes: block col-12 overflow-hidden from var(--styles);
  height: auto;
}
