.Image {
  composes: overflow-hidden from "../../styles.css";
}

.Image__placeholder {
  composes: fit relative from "../../styles.css";
}

.Image__placeholder--wrapper {
  composes: absolute flex items-center justify-center top-0 left-0 bottom-0 right-0 from "../../styles.css";
}

.Image__placeholder--text {
  composes: text-center from "../../styles.css";
  opacity: 0.5;
}

.Image__img {
  composes: block fit from "../../styles.css";
  height: auto;
}
