{
    "extends": [
        "pinterest"
    ],
    "plugins": [
        "pinterest",
        "react"
    ],
    "env": {
        "es6": true,
        "browser": true
    },
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    }
}
