{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-named": "never",
    "custom-property-no-outside-root": true,
    "declaration-block-properties-order": [["composes"], { unspecified: "bottomAlphabetical" }],
    "declaration-no-important": true,
    "indentation": 4,
    "max-nesting-depth": 0,
    "no-duplicate-selectors": true,
    "no-unknown-animations": true,
    "property-no-vendor-prefix": true,
    "root-no-standard-properties": true,
    "rule-nested-empty-line-before": ["always", {
        except: ["first-nested"]
    }],
    "selector-no-id": true,
    "selector-no-vendor-prefix": true,
    "stylelint-disable-reason": "always-before",
    "unit-blacklist": ["em"],
    "value-no-vendor-prefix": true
  }
}
