.Switch {
    border-radius: 48px; /* .circle */
    display: inline-block;
    width: 48px;
    padding: 2px;
    background-color: #b5b5b5;
    cursor: pointer;
    position: relative;
    transition: background 0.2s ease;
}

.Switch__switched {
    background-color: #364a4c;
}

.Switch--slider {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    transition: left 0.2s ease;
}

.Switch--slider__switched {
    left: 22px;
}

.Switch--checkbox {
    border: 0;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    width: 100%;
}
