.switch {
  composes: border-box from global;
  composes: inline-block from global;
  composes: relative from global;
  composes: pointer from global;
  border-radius: 48px;
  height: 28px;
  padding: 2px;
  transition: background 0.2s ease;
  width: 48px;
}

.switchOn {
  composes: bg-pine from global;
}

.switchOff {
  composes: bg-gray from global;
}

.slider {
  composes: absolute from global;
  composes: bg-white from global;
  composes: circle from global;
  height: 24px;
  transition: left 0.2s sease;
  width: 24px;
}

.sliderOn {
  left: 22px;
}

.sliderOff {
  left: 2px;
}

.checkbox {
  composes: absolute from global;
  composes: col-12 from global;
  composes: m0 from global;
  composes: no-border from global;
  composes: p0 from global;
  composes: pointer from global;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
