.Grid {
  composes: relative from global;
  height: 100%;
  margin: 0 auto;
}

.Grid__Item {
  composes: absolute from global;
}

.Grid__Item__Mounted {
  transition: transform 0.2s;
}

.Grid__Item__Animated {
  animation: pinFadeIn 0.33s forwards;
}

@keyframes pinFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.93);
  }

  39% {
    opacity: 0;
    transform: scale(0.93);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
