.Modal__Mask {
  background-color: #e2e4e4;
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0.9;
  position: fixed;
  right: 0;
  top: 0;
}

.Modal__Wrapper {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
}

.Modal__Content {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  margin: 20px auto;
  position: relative;
  text-align: left;
  width: 600px;
}

.Modal__Child--content {
  display: block;
  padding: 10px;
}

.Modal__Child--footer {
  composes: Modal__Child--content;
  background: #f0f0f0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #e7e7e7;
  text-align: right;
}

.Modal__Child--header {
  padding: 10px;
}
