.SegmentedControl {
  composes: bg-light-gray from global;
  composes: flex justify-between from global;
  border-radius: 4px;
  padding: 2px;
  user-select: none;
}

.SegmentedControl--item {
  composes: flex-auto no-border pointer px2 m0 from global;
  border-radius: 3px;
  height: 36px;
}

.SegmentedControl--item:focus {
  position: relative;
}

.SegmentedControl--item__isNotSelected {
  background: transparent;
}

.SegmentedControl--item__isSelected {
  composes: bg-white from global;
}

@media (--md) {
  .SegmentedControl {
    border-radius: 6px;
    padding: 4px;
  }

  .SegmentedControl--item {
    border-radius: 4px;
    height: 48px;
  }
}
