.SegmentedControl {
  composes: bg-light-gray from "../Colors.css";
  composes: flex justify-between from "../Layout.css";
  border-radius: 4px;
  padding: 2px;
  user-select: none;
}

.SegmentedControl--item {
  composes: flex-auto from "../Layout.css";
  composes: no-border from "../Borders.css";
  composes: pointer from "../Cursor.css";
  composes: px2 m0 from "../Whitespace.css";
  border-radius: 3px;
  height: 36px;
}

.SegmentedControl--item:focus {
  position: relative;
}

.SegmentedControl--item__isNotSelected {
  background: transparent;
}

.SegmentedControl--item__isSelected {
  composes: bg-white from "../Colors.css";
}

@media (--md) {
  .SegmentedControl {
    border-radius: 6px;
    padding: 4px;
  }

  .SegmentedControl--item {
    border-radius: 4px;
    height: 48px;
  }
}
