:root {
  --ncols: 12;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.col-1 {
  width: calc(1 / var(--ncols) * 100%);
}

.col-2 {
  width: calc(2 / var(--ncols) * 100%);
}

.col-3 {
  width: calc(3 / var(--ncols) * 100%);
}

.col-4 {
  width: calc(4 / var(--ncols) * 100%);
}

.col-5 {
  width: calc(5 / var(--ncols) * 100%);
}

.col-6 {
  width: calc(6 / var(--ncols) * 100%);
}

.col-7 {
  width: calc(7 / var(--ncols) * 100%);
}

.col-8 {
  width: calc(8 / var(--ncols) * 100%);
}

.col-9 {
  width: calc(9 / var(--ncols) * 100%);
}

.col-10 {
  width: calc(10 / var(--ncols) * 100%);
}

.col-11 {
  width: calc(11 / var(--ncols) * 100%);
}

.col-12 {
  width: calc(12 / var(--ncols) * 100%);
}

@media (--sm) {
  .sm-col-1 {
    width: calc(1 / var(--ncols) * 100%);
  }

  .sm-col-2 {
    width: calc(2 / var(--ncols) * 100%);
  }

  .sm-col-3 {
    width: calc(3 / var(--ncols) * 100%);
  }

  .sm-col-4 {
    width: calc(4 / var(--ncols) * 100%);
  }

  .sm-col-5 {
    width: calc(5 / var(--ncols) * 100%);
  }

  .sm-col-6 {
    width: calc(6 / var(--ncols) * 100%);
  }

  .sm-col-7 {
    width: calc(7 / var(--ncols) * 100%);
  }

  .sm-col-8 {
    width: calc(8 / var(--ncols) * 100%);
  }

  .sm-col-9 {
    width: calc(9 / var(--ncols) * 100%);
  }

  .sm-col-10 {
    width: calc(10 / var(--ncols) * 100%);
  }

  .sm-col-11 {
    width: calc(11 / var(--ncols) * 100%);
  }

  .sm-col-12 {
    width: calc(12 / var(--ncols) * 100%);
  }
}

@media (--md) {
  .md-col-1 {
    width: calc(1 / var(--ncols) * 100%);
  }

  .md-col-2 {
    width: calc(2 / var(--ncols) * 100%);
  }

  .md-col-3 {
    width: calc(3 / var(--ncols) * 100%);
  }

  .md-col-4 {
    width: calc(4 / var(--ncols) * 100%);
  }

  .md-col-5 {
    width: calc(5 / var(--ncols) * 100%);
  }

  .md-col-6 {
    width: calc(6 / var(--ncols) * 100%);
  }

  .md-col-7 {
    width: calc(7 / var(--ncols) * 100%);
  }

  .md-col-8 {
    width: calc(8 / var(--ncols) * 100%);
  }

  .md-col-9 {
    width: calc(9 / var(--ncols) * 100%);
  }

  .md-col-10 {
    width: calc(10 / var(--ncols) * 100%);
  }

  .md-col-11 {
    width: calc(11 / var(--ncols) * 100%);
  }

  .md-col-12 {
    width: calc(12 / var(--ncols) * 100%);
  }
}

@media (--lg) {
  .lg-col-1 {
    width: calc(1 / var(--ncols) * 100%);
  }

  .lg-col-2 {
    width: calc(2 / var(--ncols) * 100%);
  }

  .lg-col-3 {
    width: calc(3 / var(--ncols) * 100%);
  }

  .lg-col-4 {
    width: calc(4 / var(--ncols) * 100%);
  }

  .lg-col-5 {
    width: calc(5 / var(--ncols) * 100%);
  }

  .lg-col-6 {
    width: calc(6 / var(--ncols) * 100%);
  }

  .lg-col-7 {
    width: calc(7 / var(--ncols) * 100%);
  }

  .lg-col-8 {
    width: calc(8 / var(--ncols) * 100%);
  }

  .lg-col-9 {
    width: calc(9 / var(--ncols) * 100%);
  }

  .lg-col-10 {
    width: calc(10 / var(--ncols) * 100%);
  }

  .lg-col-11 {
    width: calc(11 / var(--ncols) * 100%);
  }

  .lg-col-12 {
    width: calc(12 / var(--ncols) * 100%);
  }
}
