.TextField {
    background-color: #f3f3f3;
    background-image: linear-gradient(#f0f0f0, #f5f5f5);
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d6d3ce;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12) inset;
    color: #333;
    font-size: 14px;
    padding: 7px;
}

.TextField--isErrored {
    background: #e6abad;
    border-color: #bd081c;
}

.TextField--isFocused,
.TextField:focus {
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15) inset;
    outline: #d1d1d1 auto 1px;
}

.TextField--isDisabled,
.TextField:disabled {
    background-color: #f8f8f8;
    background-image: linear-gradient(#f5f5f5, #fafafa);
    border-color: #dcdcdc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12) inset;
    color: #999;
    cursor: default;
}
