.Contents {
  border: 1px solid currentColor;
}

.Contents:focus {
  border: 1px solid #555;
  outline: none;
  stroke: #555;
}

.dimensions {
  max-height: 90vh;
  max-width: 90vw;
  min-height: 40px;
}

.caret {
  fill: currentColor;
  height: 24px;
}
