.contents {
  border: 1px solid currentColor;
}

.contents:focus {
  border: 1px solid #b5b5b5;
  outline: none;
  stroke: #b5b5b5;
}

.dimensions {
  max-height: 90vh;
  max-width: 90vw;
  min-height: 40px;
}

.caret {
  fill: currentColor;
  height: 24px;
}
