.Tabs {
  composes: bg-light-gray flex from "../../styles.css";
  border-radius: 4px;
  padding: 2px;
  user-select: none;
}

.Tabs--item {
  composes: no-border pointer col-12 p2 mt0 mb0 from "../../styles.css";
  border-radius: 4px;
}

.Tabs--item:focus {
  position: relative;
}

.Tabs--item__isNotSelected {
  background: transparent;
}

.Tabs--item__isSelected {
  composes: bg-white from "../../styles.css";
}
