:root {
  /*** Avatar Sizing ***/

  /* small screens */

  --sm-size-xs: 24px;
  --sm-size-sm: 40px;
  --sm-size-md: 72px;
  --sm-size-lg: 104px;
  --sm-size-xl: 132px;

  /* medium screens */

  --md-size-xs: 24px;
  --md-size-sm: 40px;
  --md-size-md: 72px;
  --md-size-lg: 104px;
  --md-size-xl: 132px;

  /* large screens */

  --lg-size-xs: 36px;
  --lg-size-sm: 60px;
  --lg-size-md: 108px;
  --lg-size-lg: 156px;
  --lg-size-xl: 198px;

  /*** Profile-less Text Sizing ***/

  /* small screens */

  --sm-text-xs: 12px;
  --sm-text-sm: 21px;
  --sm-text-md: 38px;
  --sm-text-lg: 54px;
  --sm-text-xl: 70px;
  --sm-text-col: 88px;

  /* medium screens */

  --md-text-xs: 12px;
  --md-text-sm: 21px;
  --md-text-md: 38px;
  --md-text-lg: 70px;
  --md-text-xl: 88px;

  /* large screens */

  --lg-text-xs: 19px;
  --lg-text-sm: 32px;
  --lg-text-md: 56px;
  --lg-text-lg: 82px;
  --lg-text-xl: 106px;
}

.defaultAvatar {
  composes: bg-gray from "gestalt-colors/Colors.css";
  composes: circle from "gestalt-borders/Borders.css";
  composes: flex items-center justify-center from "gestalt-layout/Layout.css";
}

@media (--sm) {
  .xs {
    height: var(--sm-size-xs);
    width: var(--sm-size-xs);
  }

  .initial-xs {
    font-size: var(--sm-text-xs);
  }

  .sm {
    height: var(--sm-size-sm);
    width: var(--sm-size-sm);
  }

  .initial-sm {
    font-size: var(--sm-text-sm);
  }

  .md {
    height: var(--sm-size-md);
    width: var(--sm-size-md);
  }

  .initial-md {
    font-size: var(--sm-text-md);
  }

  .lg {
    height: var(--sm-size-lg);
    width: var(--sm-size-lg);
  }

  .initial-lg {
    font-size: var(--sm-text-lg);
  }

  .xl {
    height: var(--sm-size-xl);
    width: var(--sm-size-xl);
  }

  .initial-xl {
    font-size: var(--sm-text-xl);
  }
}

@media (--md) {
  .xs {
    height: var(--md-size-xs);
    width: var(--md-size-xs);
  }

  .initial-xs {
    font-size: var(--md-text-xs);
  }

  .sm {
    height: var(--md-size-sm);
    width: var(--md-size-sm);
  }

  .initial-sm {
    font-size: var(--md-text-sm);
  }

  .md {
    height: var(--md-size-md);
    width: var(--md-size-md);
  }

  .initial-md {
    font-size: var(--md-text-md);
  }

  .lg {
    height: var(--md-size-lg);
    width: var(--md-size-lg);
  }

  .initial-lg {
    font-size: var(--md-text-lg);
  }

  .xl {
    height: var(--md-size-xl);
    width: var(--md-size-xl);
  }

  .initial-xl {
    font-size: var(--md-text-xl);
  }
}

@media (--lg) {
  .xs {
    height: var(--lg-size-xs);
    width: var(--lg-size-xs);
  }

  .initial-xs {
    font-size: var(--lg-text-xs);
  }

  .sm {
    height: var(--lg-size-sm);
    width: var(--lg-size-sm);
  }

  .initial-sm {
    font-size: var(--lg-text-sm);
  }

  .md {
    height: var(--lg-size-md);
    width: var(--lg-size-md);
  }

  .initial-md {
    font-size: var(--lg-text-md);
  }

  .lg {
    height: var(--lg-size-lg);
    width: var(--lg-size-lg);
  }

  .initial-lg {
    font-size: var(--lg-text-lg);
  }

  .xl {
    height: var(--lg-size-xl);
    width: var(--lg-size-xl);
  }

  .initial-xl {
    font-size: var(--lg-text-xl);
  }
}
