.img {
  composes: fit from "gestalt-layout/Layout.css";
}

.pending {
  display: none;
}

.loaded {
  composes: block from "gestalt-layout/Layout.css";
}

.container {
  composes: fit relative from "gestalt-layout/Layout.css";
}
