.container {
  composes: fit relative from "gestalt-layout/Layout.css";
}

.img {
  composes: absolute fit overflow-hidden from "gestalt-layout/Layout.css";
  composes: col-12 from "gestalt-columns/Columns.css";
}

.pending {
  display: none;
}

.loaded {
  composes: block from "gestalt-layout/Layout.css";
}

.wash {
  composes: absolute from "gestalt-layout/Layout.css";
  composes: col-12 from "gestalt-columns/Columns.css";
  background: rgba(0, 0, 0, 0.03);
  height: 100%;
  pointer-events: none;
}
