.button {
  composes: block from global;
  composes: circle from global;
  composes: no-border from global;
  composes: p0 from global;
  composes: pointer from global;
}

.button:focus {
  outline: 3px solid rgba(0, 132, 255, 0.3);
  outline-offset: 1px;
}

.disableFocusOutline:focus {
  outline: none;
}

.transparent {
  background: transparent;
}

.transparent:hover,
.transparent:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

.transparent:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.red {
  composes: bg-red from global;
  composes: bg-red-hover from global;
  composes: bg-red-focus from global;
  composes: bg-red-active from global;
}

.blue {
  composes: bg-blue from global;
  composes: bg-blue-hover from global;
  composes: bg-blue-focus from global;
  composes: bg-blue-active from global;
}

.gray {
  composes: bg-gray from global;
  composes: bg-gray-hover from global;
  composes: bg-gray-focus from global;
  composes: bg-gray-active from global;
}

.lightGray {
  composes: bg-light-gray from global;
  composes: bg-light-gray-hover from global;
  composes: bg-light-gray-focus from global;
  composes: bg-light-gray-active from global;
}
