.iconButton {
  composes: antialiased bold from "../Typography.css";
  composes: border-box from "../Layout.css";
  composes: circle no-border from "../Borders.css";
  composes: p0 from "../Whitespace.css";
  composes: pointer from "../Cursor.css";
}

.transparent {
  composes: iconButton;
  background: transparent;
}

.transparent:hover,
.transparent:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

.transparent:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.red {
  composes: iconButton;
  composes: bg-red from "../Colors.css";
  composes: bg-red-hover from "../Colors.css";
  composes: bg-red-focus from "../Colors.css";
  composes: bg-red-active from "../Colors.css";
}

.blue {
  composes: iconButton;
  composes: bg-blue from "../Colors.css";
  composes: bg-blue-hover from "../Colors.css";
  composes: bg-blue-focus from "../Colors.css";
  composes: bg-blue-active from "../Colors.css";
}

.gray {
  composes: iconButton;
  composes: bg-gray from "../Colors.css";
  composes: bg-gray-hover from "../Colors.css";
  composes: bg-gray-focus from "../Colors.css";
  composes: bg-gray-active from "../Colors.css";
}

.light-gray {
  composes: iconButton;
  composes: bg-light-gray from "../Colors.css";
  composes: bg-light-gray-hover from "../Colors.css";
  composes: bg-light-gray-focus from "../Colors.css";
  composes: bg-light-gray-active from "../Colors.css";
}

.dark-gray {
  composes: iconButton;
  composes: bg-dark-gray  from "../Colors.css";
  composes: bg-dark-gray-hover from "../Colors.css";
  composes: bg-dark-gray-focus from "../Colors.css";
  composes: bg-dark-gray-active from "../Colors.css";
}
