:root {
  --ncols: 12;
}

.box { box-sizing: border-box; }

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.overflow-scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
}

.overflow-scroll-y {
  overflow-x: hidden;
  overflow-y: scroll;
}

.pill {
  border-radius: 999px;
}

.xs-hide {
  display: none;
}

.xs-flex {
  display: flex;
  flex-direction: row;
}

.xs-flex-column {
  display: flex;
  flex-direction: column;
}

.xs-inline-block {
  display: inline-block;
}

@media (--sm) {
  .sm-hide {
    display: none;
  }

  .sm-block {
    display: block;
  }

  .sm-flex {
    display: flex;
    flex-direction: row;
  }

  .sm-flex-column {
    display: flex;
    flex-direction: column;
  }

  .sm-inline-block {
    display: inline-block;
  }
}

@media (--md) {
  .md-hide {
    display: none;
  }

  .md-block {
    display: block;
  }

  .md-flex {
    display: flex;
    flex-direction: row;
  }

  .md-flex-column {
    display: flex;
    flex-direction: column;
  }

  .md-inline-block {
    display: inline-block;
  }
}

@media (--lg) {
  .lg-hide {
    display: none;
  }

  .lg-block {
    display: block;
  }

  .lg-flex {
    display: flex;
    flex-direction: row;
  }

  .lg-flex-column {
    display: flex;
    flex-direction: column;
  }

  .lg-inline-block {
    display: inline-block;
  }
}

/* Columns */

.col {
  vertical-align: top;
}

.xs-col-1 {
  width: calc(1 / var(--ncols) * 100%);
}

.xs-col-2 {
  width: calc(2 / var(--ncols) * 100%);
}

.xs-col-3 {
  width: calc(3 / var(--ncols) * 100%);
}

.xs-col-4 {
  width: calc(4 / var(--ncols) * 100%);
}

.xs-col-5 {
  width: calc(5 / var(--ncols) * 100%);
}

.xs-col-6 {
  width: calc(6 / var(--ncols) * 100%);
}

.xs-col-7 {
  width: calc(7 / var(--ncols) * 100%);
}

.xs-col-8 {
  width: calc(8 / var(--ncols) * 100%);
}

.xs-col-9 {
  width: calc(9 / var(--ncols) * 100%);
}

.xs-col-10 {
  width: calc(10 / var(--ncols) * 100%);
}

.xs-col-11 {
  width: calc(11 / var(--ncols) * 100%);
}

.xs-col-12 {
  width: calc(12 / var(--ncols) * 100%);
}

@media (--sm) {
  .sm-col-1 {
    width: calc(1 / var(--ncols) * 100%);
  }

  .sm-col-2 {
    width: calc(2 / var(--ncols) * 100%);
  }

  .sm-col-3 {
    width: calc(3 / var(--ncols) * 100%);
  }

  .sm-col-4 {
    width: calc(4 / var(--ncols) * 100%);
  }

  .sm-col-5 {
    width: calc(5 / var(--ncols) * 100%);
  }

  .sm-col-6 {
    width: calc(6 / var(--ncols) * 100%);
  }

  .sm-col-7 {
    width: calc(7 / var(--ncols) * 100%);
  }

  .sm-col-8 {
    width: calc(8 / var(--ncols) * 100%);
  }

  .sm-col-9 {
    width: calc(9 / var(--ncols) * 100%);
  }

  .sm-col-10 {
    width: calc(10 / var(--ncols) * 100%);
  }

  .sm-col-11 {
    width: calc(11 / var(--ncols) * 100%);
  }

  .sm-col-12 {
    width: calc(12 / var(--ncols) * 100%);
  }
}

@media (--md) {
  .md-col-1 {
    width: calc(1 / var(--ncols) * 100%);
  }

  .md-col-2 {
    width: calc(2 / var(--ncols) * 100%);
  }

  .md-col-3 {
    width: calc(3 / var(--ncols) * 100%);
  }

  .md-col-4 {
    width: calc(4 / var(--ncols) * 100%);
  }

  .md-col-5 {
    width: calc(5 / var(--ncols) * 100%);
  }

  .md-col-6 {
    width: calc(6 / var(--ncols) * 100%);
  }

  .md-col-7 {
    width: calc(7 / var(--ncols) * 100%);
  }

  .md-col-8 {
    width: calc(8 / var(--ncols) * 100%);
  }

  .md-col-9 {
    width: calc(9 / var(--ncols) * 100%);
  }

  .md-col-10 {
    width: calc(10 / var(--ncols) * 100%);
  }

  .md-col-11 {
    width: calc(11 / var(--ncols) * 100%);
  }

  .md-col-12 {
    width: calc(12 / var(--ncols) * 100%);
  }
}

@media (--lg) {
  .lg-col-1 {
    width: calc(1 / var(--ncols) * 100%);
  }

  .lg-col-2 {
    width: calc(2 / var(--ncols) * 100%);
  }

  .lg-col-3 {
    width: calc(3 / var(--ncols) * 100%);
  }

  .lg-col-4 {
    width: calc(4 / var(--ncols) * 100%);
  }

  .lg-col-5 {
    width: calc(5 / var(--ncols) * 100%);
  }

  .lg-col-6 {
    width: calc(6 / var(--ncols) * 100%);
  }

  .lg-col-7 {
    width: calc(7 / var(--ncols) * 100%);
  }

  .lg-col-8 {
    width: calc(8 / var(--ncols) * 100%);
  }

  .lg-col-9 {
    width: calc(9 / var(--ncols) * 100%);
  }

  .lg-col-10 {
    width: calc(10 / var(--ncols) * 100%);
  }

  .lg-col-11 {
    width: calc(11 / var(--ncols) * 100%);
  }

  .lg-col-12 {
    width: calc(12 / var(--ncols) * 100%);
  }
}
