.textArea {
  composes: lightGrayBg darkGray from "../Colors.css";
  composes: bold text-md from global;
  composes: border-box from global;
  composes: col-12 from global;
  composes: px1 py2 from global;
  composes: rounded from global;
  cursor: text;
  outline: 0;
  resize: none;
}

.normal {
  composes: border from global;
}

.textArea:focus {
  background-color: #fff;
}

.errored {
  border: 1px solid #e3780c;
}

.errored:focus {
  background-color: #fff;
}
