:root {
  --blue: #0084ff;
  --dark-gray: #555;
  --pine: #364a4c;
  --gray: #b5b5b5;
  --red: #bd081c;
  --slate: #88a5ab;
  --light-gray: #efefef;
  --white: #fff;
  --yellow: #fab904;
  --frost: rgba(#fff, 0.95);
  --shade: rgba(#000, 0.6);

  /* darker versions of colors for hover states */
  --blue-hover: color(var(--blue) blackness(+ 6%));
  --blue-active: color(var(--blue) blackness(+ 10%));
  --light-gray-hover: color(var(--light-gray) blackness(+ 6%));
  --light-gray-active: color(var(--light-gray) blackness(+ 10%));
  --gray-hover: color(var(--gray) blackness(+ 6%));
  --gray-active: color(var(--gray) blackness(+ 10%));
  --dark-gray-hover: color(var(--dark-gray) blackness(+ 6%));
  --dark-gray-active: color(var(--dark-gray) blackness(+ 10%));
  --red-hover: color(var(--red) blackness(+ 6%));
  --red-active: color(var(--red) blackness(+ 10%));
}

/* blue */

.blue {
  color: var(--blue);
}

.blue-hover:hover {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-blue-hover:hover,
.bg-blue-focus:focus {
  background-color: var(--blue-hover);
}

.bg-blue-active:active {
  background-color: var(--blue-active);
}

/* dark-gray */

.dark-gray {
  color: var(--dark-gray);
}

.dark-gray-hover:hover {
  color: var(--dark-gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-dark-gray-hover:hover,
.bg-dark-gray-focus:focus {
  background-color: var(--dark-gray-hover);
}

.bg-dark-gray-active:active {
  background-color: var(--dark-gray-active);
}

/* pine */

.pine {
  color: var(--pine);
}

.pine-hover:hover {
  color: var(--pine);
}

.bg-pine {
  background-color: var(--pine);
}

/* gray */

.gray {
  color: var(--gray);
}

.gray-hover:hover {
  color: var(--gray);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-gray-hover:hover,
.bg-gray-focus:focus {
  background-color: var(--gray-hover);
}

.bg-gray-active:active {
  background-color: var(--gray-active);
}

/* red */

.red {
  color: var(--red);
}

.red-hover:hover {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.bg-red-hover:hover,
.bg-red-foucs:focus {
  background-color: var(--red-hover);
}

.bg-red-active:active {
  background-color: var(--red-active);
}

/* slate */

.slate {
  color: var(--slate);
}

.slate-hover:hover {
  color: var(--slate);
}

.bg-slate {
  background-color: var(--slate);
}

.bg-slate-hover:hover {
  background-color: var(--slate);
}

/* light-gray */

.light-gray {
  color: var(--light-gray);
}

.light-gray-hover:hover {
  color: var(--light-gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-light-gray-hover:hover,
.bg-light-gray-focus:focus {
  background-color: var(--light-gray-hover);
}

.bg-light-gray-active:active {
  background-color: var(--light-gray-active);
}

/* white */

.white {
  color: var(--white);
}

.white-hover:hover {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

/* yellow */

.yellow {
  color: var(--yellow);
}

.yellow-hover:hover {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}

/* frost */

.bg-frost {
  background-color: var(--frost);
}

/* darken */

.bg-shade {
  background-color: var(--shade);
}
