:root {
  --blue: #0084ff;
  --dark-gray: #555;
  --pine: #364a4c;
  --gray: #b5b5b5;
  --salmon: #fbb6ac;
  --red: #bd081c;
  --slate: #88a5ab;
  --light-gray: #efefef;
  --white: #fff;
  --mustard: #fab904;
  --frost: rgba(#fff, 0.95);
  --shade: rgba(#000, 0.6);
}

/* blue */

.blue {
  color: var(--blue);
}

.blue-hover:hover {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-blue-hover:hover {
  background-color: var(--blue);
}

/* dark-gray */

.dark-gray {
  color: var(--dark-gray);
}

.dark-gray-hover:hover {
  color: var(--dark-gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-dark-gray-hover:hover {
  background-color: var(--dark-gray);
}

/* pine */

.pine {
  color: var(--pine);
}

.pine-hover:hover {
  color: var(--pine);
}

.bg-pine {
  background-color: var(--pine);
}

.bg-pine-hover:hover {
  background-color: var(--pine);
}

/* gray */

.gray {
  color: var(--gray);
}

.gray-hover:hover {
  color: var(--gray);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-gray-hover:hover {
  background-color: var(--gray);
}

/* salmon */

.salmon {
  color: var(--salmon);
}

.salmon-hover:hover {
  color: var(--salmon);
}

.bg-salmon {
  background-color: var(--salmon);
}

.bg-salmon-hover:hover {
  background-color: var(--salmon);
}

/* red */

.red {
  color: var(--red);
}

.red-hover:hover {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.bg-red-hover:hover {
  background-color: var(--red);
}

/* slate */

.slate {
  color: var(--slate);
}

.slate-hover:hover {
  color: var(--slate);
}

.bg-slate {
  background-color: var(--slate);
}

.bg-slate-hover:hover {
  background-color: var(--slate);
}

/* light-gray */

.light-gray {
  color: var(--light-gray);
}

.light-gray-hover:hover {
  color: var(--light-gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-light-gray-hover:hover {
  background-color: var(--light-gray);
}

/* white */

.white {
  color: var(--white);
}

.white-hover:hover {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.bg-white-hover:hover {
  background-color: var(--white);
}

/* mustard */

.mustard {
  color: var(--mustard);
}

.mustard-hover:hover {
  color: var(--mustard);
}

.bg-mustard {
  background-color: var(--mustard);
}

.bg-mustard-hover:hover {
  background-color: var(--mustard);
}

/* frost */

.bg-frost {
  background-color: var(--frost);
}

.bg-frost-hover:hover {
  background-color: var(--frost);
}

/* darken */

.bg-shade {
  background-color: var(--shade);
}

.bg-shade-hover:hover {
  background-color: var(--shade);
}
