<!doctype html>
<html>
  <body>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/dist/css/bundle.css">
    <script>
        window.initialPins = <%- initialPins %>
    </script>
    <script defer src="http://localhost:8080/bundle.js"></script>
    <div id="react-main-mount"><%- reactOutput %></div>
    <style type="text/css">
        <%- serverStyles %>
    </style>
  </body>
</html>
