.mask {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #e2e4e4;
    opacity: 0.9;
    position: fixed;
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.content {
    position: relative;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    margin: 20px auto;
    position: relative;
    text-align: left;
    width: 600px;
}
