.Mask {
  composes: overflow-hidden relative from global;
}

.square {
  composes: square from global;
}

.rounded {
  composes: rounded from global;
}

.circle {
  composes: circle from global;
}

.wash {
  composes: absolute top-0 left-0 right-0 bottom-0 from global;
  background: rgba(0, 0, 0, 0.03);
  pointer-events: none;
}
