:root {
  --styles: "../../styles.css";
}

.common {
  composes: overflow-hidden relative from var(--styles);
}

.square {
  composes: common;
  composes: square from var(--styles);
}

.rounded {
  composes: common;
  composes: rounded from var(--styles);
}

.circle {
  composes: common;
  composes: circle from var(--styles);
}
