:root {
    --border-width: 1px;
    --border-color: #efefef;
    --border-radius: 4px;
}

/* Border lines */

.border {
    border: var(--border-width) solid var(--border-color);
}

.border-top {
    border-top: var(--border-width) solid var(--border-color);
}

.border-right {
    border-right: var(--border-width) solid var(--border-color);
}

.border-bottom {
    border-bottom: var(--border-width) solid var(--border-color);
}

.border-left {
    border-left: var(--border-width) solid var(--border-color);
}

/* Border radii */

.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: var(--border-radius);
}

.rounded-top {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.rounded-right {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.rounded-bottom {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.rounded-left {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
