:root {
  --styles: '../../styles.css';
  --blue-hover: color(#0084ff blackness(+ 6%));
  --blue-active: color(#0084ff blackness(+ 10%));
  --light-gray-hover: color(#efefef blackness(+ 6%));
  --light-gray-active: color(#efefef blackness(+ 10%));
  --red-hover: color(#bd081c blackness(+ 6%));
  --red-active: color(#bd081c blackness(+ 10%));
}

.common {
  composes: antialiased from var(--styles);
  composes: bold from var(--styles);
  composes: border-box from var(--styles);
  composes: no-border from var(--styles);
  composes: rounded from var(--styles);
}

.enabled {
  composes: pointer from var(--styles);
}

.variable {
  composes: common;
  padding: 10px 14px;
}

.fullWidth {
  composes: common;
  composes: col-12 from var(--styles);
  composes: text-l from var(--styles);
  padding: 12px 16px;
}

.button,
.submit {
  composes: text-m from var(--styles);
}

.disabled {
  composes: bg-light-gray from var(--styles);
  composes: gray from var(--styles);
}

.gray {
  composes: bg-light-gray from var(--styles);
  composes: dark-gray from var(--styles);
}

.gray:hover,
.gray:focus {
  background-color: var(--light-gray-hover);
}

.gray:active {
  background-color: var(--light-gray-active);
}

.red {
  composes: bg-red from var(--styles);
  composes: white from var(--styles);
}

.red:hover,
.red:focus {
  background-color: var(--red-hover);
}

.red:active {
  background-color: var(--red-active);
}

.blue {
  composes: bg-blue from var(--styles);
  composes: white from var(--styles);
}

.blue:hover,
.blue:focus {
  background-color: var(--blue-hover);
}

.blue:active {
  background-color: var(--blue-active);
}
