:root {
  --blue-hover: color(#0084ff blackness(+ 6%));
  --blue-active: color(#0084ff blackness(+ 10%));
  --light-gray-hover: color(#efefef blackness(+ 6%));
  --light-gray-active: color(#efefef blackness(+ 10%));
  --red-hover: color(#bd081c blackness(+ 6%));
  --red-active: color(#bd081c blackness(+ 10%));
}

.common {
  composes: antialiased from global;
  composes: bold from global;
  composes: border-box from global;
  composes: no-border from global;
  border-radius: 4px;
}

.enabled {
  composes: pointer from global;
}

.variable {
  composes: common;
  padding: 10px 14px;
}

.fullWidth {
  composes: common;
  composes: col-12 from global;
  composes: text-lg from global;
  padding: 12px 16px;
}

.button,
.submit {
  composes: text-md from global;
}

.disabled {
  composes: bg-light-gray from global;
  composes: gray from global;
  cursor: default;
}

.gray {
  composes: bg-light-gray from global;
  composes: dark-gray from global;
}

.gray:hover,
.gray:focus {
  background-color: var(--light-gray-hover);
}

.gray:active {
  background-color: var(--light-gray-active);
}

.red {
  composes: bg-red from global;
  composes: white from global;
}

.red:hover,
.red:focus {
  background-color: var(--red-hover);
}

.red:active {
  background-color: var(--red-active);
}

.blue {
  composes: bg-blue from global;
  composes: white from global;
}

.blue:hover,
.blue:focus {
  background-color: var(--blue-hover);
}

.blue:active {
  background-color: var(--blue-active);
}
