.text {
  composes: bold from from "gestalt-typography/Typography.css";
  composes: dark-gray from "gestalt-colors/Colors.css";
  composes: text-md from "gestalt-typography/Typography.css";
}

.common {
  composes: bg-light-gray from "gestalt-colors/Colors.css";
  composes: block border-box from "gestalt-layout/Layout.css";
  composes: col-12 from "gestalt-column/Column.css";
  composes: pointer from "gestalt-cursor/Cursor.css";
  composes: rounded from "gestalt-borders/Borders.css";
}

.container {
  composes: common;
  composes: relative from "gestalt-layout/Layout.css";
}

.select {
  composes: common;
  composes: text;
  composes: no-border from "gestalt-borders/Borders.css";
  composes: p2 from "gestalt-whitespace/Whitespace.css";
  appearance: none;
  padding-right: 20%; /* prevents option.name from running into arrow */
}

.dropdownArrow {
  composes: absolute from "gestalt-layout/Layout.css";
  composes: block from "gestalt-layout/Layout.css";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #555;
  height: 0;
  margin-top: -3px;
  pointer-events: none;
  right: 16px;
  top: 50%;
  width: 0;
  z-index: 2;
}

.options {
  composes: relative from "gestalt-layout/Layout.css";
  composes: mr3 from "gestalt-whitespace/Whitespace.css";
  width: 80%;
}
