.text {
  composes: bold from from "../Typography.css";
  composes: dark-gray from "../Colors.css";
  composes: text-md from "../Typography.css";
}

.common {
  composes: bg-light-gray from "../Colors.css";
  composes: block border-box from "../Layout.css";
  composes: col-12 from "../Column/Column.css";
  composes: pointer from "../Cursor.css";
  composes: rounded from "../Borders.css";
}

.container {
  composes: common;
  composes: relative from "../Layout.css";
}

.select {
  composes: common;
  composes: text;
  composes: no-border from "../Borders.css";
  composes: p2 from "../Whitespace.css";
  appearance: none;
  padding-right: 20%; /* prevents option.name from running into arrow */
}

.dropdownArrow {
  composes: absolute from "../Layout.css";
  composes: block from "../Layout.css";
  align-items: center;
  display: flex;
  height: 100%;
  pointer-events: none;
  right: 16px;
  top: 1px;
}

.options {
  composes: relative from "../Layout.css";
  composes: mr3 from "../Whitespace.css";
  width: 80%;
}
