.select {
  composes: col-12 from global;
  composes: bold from global;
  composes: dark-gray from global;
  composes: text-md from global;
  composes: no-border from global;
  composes: p2 from global;
  composes: relative from global;
  composes: pointer from global;
  appearance: none;
  background-color: transparent;
  padding-right: 20%; /* prevents option.name from running into arrow */
}
