.radioButton {
  composes: block circle pointer from global;
  border: 7px solid transparent;
  height: 10px;
  width: 10px;
}

.unchecked {
  composes: bg-lightGray from "../Colors.css";
}

.checked {
  composes: bg-darkGray from "../Colors.css";
  border-color: #efefef;
}

.native {
  composes: absolute m0 from global;
  appearance: none;
  cursor: pointer;
  height: 24px;
  opacity: 0;
  outline: none;
  width: 24px;
}
