.iconButton {
  composes: antialiased bold from "gestalt-typography/Typography.css";
  composes: border-box from "gestalt-layout/Layout.css";
  composes: circle no-border from "gestalt-borders/Borders.css";
  composes: p0 from "gestalt-whitespace/Whitespace.css";
  composes: pointer from "gestalt-cursor/Cursor.css";
}

.transparent {
  composes: iconButton;
  background: transparent;
}

.transparent:hover,
.transparent:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

.transparent:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.red {
  composes: iconButton;
  composes: bg-red from "gestalt-colors/Colors.css";
  composes: bg-red-hover from "gestalt-colors/Colors.css";
  composes: bg-red-focus from "gestalt-colors/Colors.css";
  composes: bg-red-active from "gestalt-colors/Colors.css";
}

.blue {
  composes: iconButton;
  composes: bg-blue from "gestalt-colors/Colors.css";
  composes: bg-blue-hover from "gestalt-colors/Colors.css";
  composes: bg-blue-focus from "gestalt-colors/Colors.css";
  composes: bg-blue-active from "gestalt-colors/Colors.css";
}

.gray {
  composes: iconButton;
  composes: bg-gray from "gestalt-colors/Colors.css";
  composes: bg-gray-hover from "gestalt-colors/Colors.css";
  composes: bg-gray-focus from "gestalt-colors/Colors.css";
  composes: bg-gray-active from "gestalt-colors/Colors.css";
}

.light-gray {
  composes: iconButton;
  composes: bg-light-gray from "gestalt-colors/Colors.css";
  composes: bg-light-gray-hover from "gestalt-colors/Colors.css";
  composes: bg-light-gray-focus from "gestalt-colors/Colors.css";
  composes: bg-light-gray-active from "gestalt-colors/Colors.css";
}

.dark-gray {
  composes: iconButton;
  composes: bg-dark-gray  from "gestalt-colors/Colors.css";
  composes: bg-dark-gray-hover from "gestalt-colors/Colors.css";
  composes: bg-dark-gray-focus from "gestalt-colors/Colors.css";
  composes: bg-dark-gray-active from "gestalt-colors/Colors.css";
}
