:root {
  --border-width: 1px;
  --border-color: #efefef;
  --border-radius: 8px;
}

/* Border lines */

:global .border {
  border: var(--border-width) solid var(--border-color);
}

:global .border-top {
  border-top: var(--border-width) solid var(--border-color);
}

:global .border-right {
  border-right: var(--border-width) solid var(--border-color);
}

:global .border-bottom {
  border-bottom: var(--border-width) solid var(--border-color);
}

:global .border-left {
  border-left: var(--border-width) solid var(--border-color);
}

/* Border radii */

:global .square {
  border-radius: 0;
}

:global .circle {
  border-radius: 50%;
}

:global .rounded {
  border-radius: var(--border-radius);
}

:global .rounded-top {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

:global .rounded-right {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

:global .rounded-bottom {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

:global .rounded-left {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

:global .no-border {
  border: 0;
}
