:root {
  /* primary colors */
  --red: #bd081c;
  --white: #fff;
  --lightGray: #efefef;
  --gray: #b5b5b5;
  --darkGray: #555;

  /* secondary colors */
  --green: #0fa573;
  --pine: #0a6955;
  --olive: #364a4c;
  --blue: #0084ff;
  --navy: #004b91;
  --midnight: #133a5e;
  --purple: #b469eb;
  --orchid: #8046a5;
  --eggplant: #5b2677;
  --maroon: #6e0f3c;
  --watermelon: #f13535;
  --orange: #e3780c;
}

/** PRIMARY COLORS **/

/* red */

.red { color: var(--red); }

.bg-red { background-color: var(--red); }

/* white */

.white { color: var(--white); }

.bg-white { background-color: var(--white); }

/* lightGray */

.lightGray { color: var(--lightGray); }

.bg-lightGray { background-color: var(--lightGray); }

/* gray */

.gray { color: var(--gray); }

.bg-gray { background-color: var(--gray); }

/* darkGray */

.darkGray { color: var(--darkGray); }

.bg-darkGray { background-color: var(--darkGray); }

/** SECONDARY COLORS **/

/* green */

.green { color: var(--green); }

.bg-green { background-color: var(--green); }

/* pine */

.pine { color: var(--pine); }

.bg-pine { background-color: var(--pine); }

/* olive */

.olive { color: var(--olive); }

.bg-olive { background-color: var(--olive); }

/* blue */

.blue { color: var(--blue); }

.bg-blue { background-color: var(--blue); }

/* navy */

.navy { color: var(--navy); }

.bg-navy { background-color: var(--navy); }

/* midnight */

.midnight { color: var(--midnight); }

.bg-midnight { background-color: var(--midnight); }

/* purple */

.purple { color: var(--purple); }

.bg-purple { background-color: var(--purple); }

/* orchid */

.orchid { color: var(--orchid); }

.bg-orchid { background-color: var(--orchid); }

/* eggplant */

.eggplant { color: var(--eggplant); }

.bg-eggplant { background-color: var(--eggplant); }

/* maroon */

.maroon { color: var(--maroon); }

.bg-maroon { background-color: var(--maroon); }

/* watermelon */

.watermelon { color: var(--watermelon); }

.bg-watermelon { background-color: var(--watermelon); }

/* orange */

.orange { color: var(--orange); }

.bg-orange { background-color: var(--orange); }
