:root {
  --blue: #0084ff;
  --dark-gray: #555;
  --pine: #364a4c;
  --gray: #b5b5b5;
  --red: #bd081c;
  --slate: #88a5ab;
  --light-gray: #efefef;
  --white: #fff;
  --yellow: #fab904;
  --frost: rgba(#fff, 0:global .95);
  --shade: rgba(#000, 0:global .6);

  /* darker versions of colors for hover states */
  --blue-hover: color(var(--blue) blackness(+ 6%));
  --blue-active: color(var(--blue) blackness(+ 10%));
  --light-gray-hover: color(var(--light-gray) blackness(+ 6%));
  --light-gray-active: color(var(--light-gray) blackness(+ 10%));
  --gray-hover: color(var(--gray) blackness(+ 6%));
  --gray-active: color(var(--gray) blackness(+ 10%));
  --dark-gray-hover: color(var(--dark-gray) blackness(+ 6%));
  --dark-gray-active: color(var(--dark-gray) blackness(+ 10%));
  --red-hover: color(var(--red) blackness(+ 6%));
  --red-active: color(var(--red) blackness(+ 10%));
}

/* blue */

:global .blue {
  color: var(--blue);
}

:global .blue-hover:hover {
  color: var(--blue);
}

:global .bg-blue {
  background-color: var(--blue);
}

:global .bg-blue-hover:hover,
:global .bg-blue-focus:focus {
  background-color: var(--blue-hover);
}

:global .bg-blue-active:active {
  background-color: var(--blue-active);
}

/* dark-gray */

:global .dark-gray {
  color: var(--dark-gray);
}

:global .dark-gray-hover:hover {
  color: var(--dark-gray);
}

:global .bg-dark-gray {
  background-color: var(--dark-gray);
}

:global .bg-dark-gray-hover:hover,
:global .bg-dark-gray-focus:focus {
  background-color: var(--dark-gray-hover);
}

:global .bg-dark-gray-active:active {
  background-color: var(--dark-gray-active);
}

/* pine */

:global .pine {
  color: var(--pine);
}

:global .pine-hover:hover {
  color: var(--pine);
}

:global .bg-pine {
  background-color: var(--pine);
}

/* gray */

:global .gray {
  color: var(--gray);
}

:global .gray-hover:hover {
  color: var(--gray);
}

:global .bg-gray {
  background-color: var(--gray);
}

:global .bg-gray-hover:hover,
:global .bg-gray-focus:focus {
  background-color: var(--gray-hover);
}

:global .bg-gray-active:active {
  background-color: var(--gray-active);
}

/* red */

:global .red {
  color: var(--red);
}

:global .red-hover:hover {
  color: var(--red);
}

:global .bg-red {
  background-color: var(--red);
}

:global .bg-red-hover:hover,
:global .bg-red-foucs:focus {
  background-color: var(--red-hover);
}

:global .bg-red-active:active {
  background-color: var(--red-active);
}

/* slate */

:global .slate {
  color: var(--slate);
}

:global .slate-hover:hover {
  color: var(--slate);
}

:global .bg-slate {
  background-color: var(--slate);
}

:global .bg-slate-hover:hover {
  background-color: var(--slate);
}

/* light-gray */

:global .light-gray {
  color: var(--light-gray);
}

:global .light-gray-hover:hover {
  color: var(--light-gray);
}

:global .bg-light-gray {
  background-color: var(--light-gray);
}

:global .bg-light-gray-hover:hover,
:global .bg-light-gray-focus:focus {
  background-color: var(--light-gray-hover);
}

:global .bg-light-gray-active:active {
  background-color: var(--light-gray-active);
}

/* white */

:global .white {
  color: var(--white);
}

:global .white-hover:hover {
  color: var(--white);
}

:global .bg-white {
  background-color: var(--white);
}

/* yellow */

:global .yellow {
  color: var(--yellow);
}

:global .yellow-hover:hover {
  color: var(--yellow);
}

:global .bg-yellow {
  background-color: var(--yellow);
}

/* frost */

:global .bg-frost {
  background-color: var(--frost);
}

/* darken */

:global .bg-shade {
  background-color: var(--shade);
}
