/* floats */

:global .pull-left { float: left; }
:global .pull-right { float: right; }

:global .clearfix::before,
:global .clearfix::after {
  content: " ";
  display: table;
}

:global .clearfix::after {
  clear: both;
}

/* display */

:global .block { display: block; }
:global .inline { display: inline; }
:global .inline-block { display: inline-block; }
:global .table { display: table; }
:global .table-cell { display: table-cell; }

/* overflow */

:global .overflow-hidden { overflow: hidden; }
:global .overflow-scroll { overflow: scroll; }
:global .overflow-auto { overflow: auto; }
:global .fit { max-width: 100%; }

/* position */

:global .relative { position: relative; }
:global .fixed { position: fixed; }
:global .absolute { position: absolute; }

:global .top-0 { top: 0; }
:global .right-0 { right: 0; }
:global .bottom-0 { bottom: 0; }
:global .left-0 { left: 0; }

/* box model */

:global .border-box { box-sizing: border-box; }

:global .flex { display: flex; }

@media (--sm) {
  :global .sm-flex { display: flex; }
}

@media (--md) {
  :global .md-flex { display: flex; }
}

@media (--lg) {
  :global .lg-flex { display: flex; }
}

:global .flex-column { flex-direction: column; }
:global .flex-wrap { flex-wrap: wrap; }

:global .items-start { align-items: flex-start; }
:global .items-end { align-items: flex-end; }
:global .items-center { align-items: center; }
:global .items-baseline { align-items: baseline; }
:global .items-stretch { align-items: stretch; }

:global .self-start { align-self: flex-start; }
:global .self-end { align-self: flex-end; }
:global .self-center { align-self: center; }
:global .self-baseline { align-self: baseline; }
:global .self-stretch { align-self: stretch; }

:global .justify-start { justify-content: flex-start; }
:global .justify-end { justify-content: flex-end; }
:global .justify-center { justify-content: center; }
:global .justify-between { justify-content: space-between; }
:global .justify-around { justify-content: space-around; }

:global .content-start { align-content: flex-start; }
:global .content-end { align-content: flex-end; }
:global .content-center { align-content: center; }
:global .content-between { align-content: space-between; }
:global .content-around { align-content: space-around; }
:global .content-stretch { align-content: stretch; }

/* Fix for Chrome 44 bug: https://code.google.com/p/chromium/issues/detail?id=506893 */
:global .flex-auto {
  flex: 1 1 auto;
  min-height: 0; /* 1 */
  min-width: 0; /* 1 */
}
:global .flex-none { flex: none; }

:global .order-first { order: -1; }
:global .order-last { order: 99999; }
