:root {
  --dark-gray: #555;
  --gray: #b5b5b5;
  --red: #bd081c;
  --blue: #0084ff;
  --pine: #0a6955;
  --olive: #364a4c;
  --red-hover: color(var(--red) blackness(+ 6%));
  --red-active: color(var(--red) blackness(+ 10%));
}

/* Needed for docs */

:global .blue-hover:hover {
  color: var(--blue);
}

:global .dark-gray {
  color: var(--dark-gray);
}

:global .gray {
  color: var(--gray);
}

/* Needed for www  */

:global .bg-pine {
  background-color: var(--pine);
}

:global .bg-red-foucs:focus {
  background-color: var(--red-hover);
}

:global .bg-gray {
  background-color: var(--gray);
}

:global .bg-red-active:active {
  background-color: var(--red-active);
}

/* Needed for both */

:global .olive {
  color: var(--olive);
}
