:root {
  --bold-font-weight: bold;

  /* type sizes */

  --size-1: 10px;
  --size-2: 11px;
  --size-3: 12px;
  --size-4: 14px;
  --size-5: 16px;
  --size-6: 18px;
  --size-7: 21px;
  --size-8: 24px;
  --size-9: 36px;
  --size-10: 48px;
  --size-11: 64px;
  --size-12: 96px;

  /* type sizes for smaller locales */

  --size-locale-ja-1: 8.6px;
  --size-locale-ja-2: 9.5px;
  --size-locale-ja-3: 10.3px;
  --size-locale-ja-4: 12px;
  --size-locale-ja-5: 13.8px;
  --size-locale-ja-6: 15.5px;
  --size-locale-ja-7: 18.1px;
  --size-locale-ja-8: 20.6px;
  --size-locale-ja-9: 31px;
  --size-locale-ja-10: 41.3px;
  --size-locale-ja-11: 55px;
  --size-locale-ja-12: 82.6px;

  /* leading */

  --leading-1: 11px;
  --leading-2: 12px;
  --leading-3: 14px;
  --leading-4: 16px;
  --leading-5: 18px;
  --leading-6: 20px;
  --leading-7: 23px;
  --leading-8: 28px;
  --leading-9: 42px;
  --leading-10: 56px;
  --leading-11: 76px;
  --leading-12: 114px;

  /* tracking */

  --tracking-1: -0.025px;
  --tracking-2: -0.05px;
  --tracking-3: -0.1px;
  --tracking-4: -0.15px;
  --tracking-5: -0.2px;
  --tracking-6: -0.25px;
  --tracking-7: -0.3px;
  --tracking-8: -1px;
  --tracking-9: -1.25px;
  --tracking-10: -1.75px;
  --tracking-11: -2.25px;
  --tracking-12: -3.25px;

  /* word-spacing */

  --word-spacing-1: 0;
  --word-spacing-2: 0;
  --word-spacing-3: 0;
  --word-spacing-4: 0;
  --word-spacing-5: 0;
  --word-spacing-6: 0;
  --word-spacing-7: -1.3px;
  --word-spacing-8: -2px;
  --word-spacing-9: -2.25px;
  --word-spacing-10: -2.75px;
  --word-spacing-11: -3.25px;
  --word-spacing-12: -4.25px;
}

/* formatting */

:global .text-left { text-align: left; }
:global .text-right { text-align: right; }
:global .text-center { text-align: center; }
:global .text-justify { text-align: justify; }

:global .bold { font-weight: var(--bold-font-weight); }
:global .regular { font-style: normal; }
:global .italic { font-style: italic; }

:global .underline { text-decoration: underline; }
:global .no-underline { text-decoration: none; }

/* lists */

:global .list-style-none {
  list-style: none;
}

/* text overflow */

:global .break-word {
  word-wrap: break-word;
}

:global .truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* styles */

:global .sans-serif {
  font-family:
    "Helvetica Neue",
    Helvetica,
    "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",
    "メイリオ",
    Meiryo,
    "ＭＳ Ｐゴシック",
    arial,
    sans-serif;
}

:global .antialiased {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* scale */

:global .text-xs {
  font-size: var(--size-1);
  letter-spacing: var(--tracking-1);
  line-height: var(--leading-1);
  word-spacing: var(--word-spacing-1);
}

:global :lang(ja) .text-xs {
  font-size: var(--size-locale-ja-1);
}

:global .text-sm {
  font-size: var(--size-2);
  letter-spacing: var(--tracking-2);
  line-height: var(--leading-2);
  word-spacing: var(--word-spacing-2);
}

:global :lang(ja) .text-sm {
  font-size: var(--size-locale-ja-2);
}

:global .text-md {
  font-size: var(--size-3);
  letter-spacing: var(--tracking-3);
  line-height: var(--leading-3);
  word-spacing: var(--word-spacing-3);
}

:global :lang(ja) .text-md {
  font-size: var(--size-locale-ja-3);
}

:global .text-lg {
  font-size: var(--size-4);
  letter-spacing: var(--tracking-4);
  line-height: var(--leading-4);
  word-spacing: var(--word-spacing-4);
}

:global :lang(ja) .text-lg {
  font-size: var(--size-locale-ja-4);
}

:global .text-xl {
  font-size: var(--size-5);
  letter-spacing: var(--tracking-5);
  line-height: var(--leading-5);
  word-spacing: var(--word-spacing-5);
}

:global :lang(ja) .text-xl {
  font-size: var(--size-locale-ja-5);
}

:global .display-xs {
  font-size: var(--size-6);
  letter-spacing: var(--tracking-6);
  line-height: var(--leading-6);
  word-spacing: var(--word-spacing-6);
}

:global :lang(ja) .display-xs {
  font-size: var(--size-locale-ja-6);
}

:global .display-sm {
  font-size: var(--size-7);
  letter-spacing: var(--tracking-7);
  line-height: var(--leading-7);
  word-spacing: var(--word-spacing-7);
}

:global :lang(ja) .display-sm {
  font-size: var(--size-locale-ja-7);
}

:global .display-md {
  font-size: var(--size-8);
  letter-spacing: var(--tracking-8);
  line-height: var(--leading-8);
  word-spacing: var(--word-spacing-8);
}

:global :lang(ja) .display-md {
  font-size: var(--size-locale-ja-8);
}

:global .display-lg {
  font-size: var(--size-9);
  letter-spacing: var(--tracking-9);
  line-height: var(--leading-9);
  word-spacing: var(--word-spacing-9);
}

:global :lang(ja) .display-lg {
  font-size: var(--size-locale-ja-9);
}

:global .display-xl {
  font-size: var(--size-10);
  letter-spacing: var(--tracking-10);
  line-height: var(--leading-10);
  word-spacing: var(--word-spacing-10);
}

:global :lang(ja) .display-xl {
  font-size: var(--size-locale-ja-10);
}

@media (--sm) {
  :global .text-xs {
    font-size: var(--size-2);
    letter-spacing: var(--tracking-2);
    line-height: var(--leading-2);
    word-spacing: var(--word-spacing-2);
  }

  :global :lang(ja) .text-xs {
    font-size: var(--size-locale-ja-2);
  }

  :global .text-sm {
    font-size: var(--size-3);
    letter-spacing: var(--tracking-3);
    line-height: var(--leading-3);
    word-spacing: var(--word-spacing-3);
  }

  :global :lang(ja) .text-sm {
    font-size: var(--size-locale-ja-3);
  }

  :global .text-md {
    font-size: var(--size-4);
    letter-spacing: var(--tracking-4);
    line-height: var(--leading-4);
    word-spacing: var(--word-spacing-4);
  }

  :global :lang(ja) .text-md {
    font-size: var(--size-locale-ja-4);
  }

  :global .text-lg {
    font-size: var(--size-5);
    letter-spacing: var(--tracking-5);
    line-height: var(--leading-5);
    word-spacing: var(--word-spacing-5);
  }

  :global :lang(ja) .text-lg {
    font-size: var(--size-locale-ja-5);
  }

  :global .text-xl {
    font-size: var(--size-6);
    letter-spacing: var(--tracking-6);
    line-height: var(--leading-6);
    word-spacing: var(--word-spacing-6);
  }

  :global :lang(ja) .text-xl {
    font-size: var(--size-locale-ja-6);
  }

  :global .display-xs {
    font-size: var(--size-7);
    letter-spacing: var(--tracking-7);
    line-height: var(--leading-7);
    word-spacing: var(--word-spacing-7);
  }

  :global :lang(ja) .display-xs {
    font-size: var(--size-locale-ja-7);
  }

  :global .display-sm {
    font-size: var(--size-8);
    letter-spacing: var(--tracking-8);
    line-height: var(--leading-8);
    word-spacing: var(--word-spacing-8);
  }

  :global :lang(ja) .display-sm {
    font-size: var(--size-locale-ja-8);
  }

  :global .display-md {
    font-size: var(--size-9);
    letter-spacing: var(--tracking-9);
    line-height: var(--leading-9);
    word-spacing: var(--word-spacing-9);
  }

  :global :lang(ja) .display-md {
    font-size: var(--size-locale-ja-9);
  }

  :global .display-lg {
    font-size: var(--size-10);
    letter-spacing: var(--tracking-10);
    line-height: var(--leading-10);
    word-spacing: var(--word-spacing-10);
  }

  :global :lang(ja) .display-lg {
    font-size: var(--size-locale-ja-10);
  }

  :global .display-xl {
    font-size: var(--size-11);
    letter-spacing: var(--tracking-11);
    line-height: var(--leading-11);
    word-spacing: var(--word-spacing-11);
  }

  :global :lang(ja) .display-xl {
    font-size: var(--size-locale-ja-11);
  }
}

@media (--lg) {
  :global .text-xs {
    font-size: var(--size-3);
    letter-spacing: var(--tracking-3);
    line-height: var(--leading-3);
    word-spacing: var(--word-spacing-3);
  }

  :global :lang(ja) .text-xs {
    font-size: var(--size-locale-ja-3);
  }

  :global .text-sm {
    font-size: var(--size-4);
    letter-spacing: var(--tracking-4);
    line-height: var(--leading-4);
    word-spacing: var(--word-spacing-4);
  }

  :global :lang(ja) .text-sm {
    font-size: var(--size-locale-ja-4);
  }

  :global .text-md {
    font-size: var(--size-5);
    letter-spacing: var(--tracking-5);
    line-height: var(--leading-5);
    word-spacing: var(--word-spacing-5);
  }

  :global :lang(ja) .text-md {
    font-size: var(--size-locale-ja-5);
  }

  :global .text-lg {
    font-size: var(--size-6);
    letter-spacing: var(--tracking-6);
    line-height: var(--leading-6);
    word-spacing: var(--word-spacing-6);
  }

  :global :lang(ja) .text-lg {
    font-size: var(--size-locale-ja-6);
  }

  :global .text-xl {
    font-size: var(--size-7);
    letter-spacing: var(--tracking-7);
    line-height: var(--leading-7);
    word-spacing: var(--word-spacing-7);
  }

  :global :lang(ja) .text-xl {
    font-size: var(--size-locale-ja-7);
  }

  :global .display-xs {
    font-size: var(--size-8);
    letter-spacing: var(--tracking-8);
    line-height: var(--leading-8);
    word-spacing: var(--word-spacing-8);
  }

  :global :lang(ja) .display-xs {
    font-size: var(--size-locale-ja-8);
  }

  :global .display-sm {
    font-size: var(--size-9);
    letter-spacing: var(--tracking-9);
    line-height: var(--leading-9);
    word-spacing: var(--word-spacing-9);
  }

  :global :lang(ja) .display-sm {
    font-size: var(--size-locale-ja-9);
  }

  :global .display-md {
    font-size: var(--size-10);
    letter-spacing: var(--tracking-10);
    line-height: var(--leading-10);
    word-spacing: var(--word-spacing-10);
  }

  :global :lang(ja) .display-md {
    font-size: var(--size-locale-ja-10);
  }

  :global .display-lg {
    font-size: var(--size-11);
    letter-spacing: var(--tracking-11);
    line-height: var(--leading-11);
    word-spacing: var(--word-spacing-11);
  }

  :global :lang(ja) .display-lg {
    font-size: var(--size-locale-ja-11);
  }

  :global .display-xl {
    font-size: var(--size-12);
    letter-spacing: var(--tracking-12);
    line-height: var(--leading-12);
    word-spacing: var(--word-spacing-12);
  }

  :global :lang(ja) .display-xl {
    font-size: var(--size-locale-ja-12);
  }
}
